html {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: rgb(231, 198, 139, 40%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: Verdana, Tahoma, "Times New Roman", serif;
}

.hero-title {
    text-align: center;
    background-color: rgb(231, 198, 139);
    border: 5px solid black ;
    padding: 10px;
}