/* Universal styles */
html {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: rgb(231, 198, 139, 40%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: Verdana, Tahoma, "Times New Roman", serif;
}

p {
    font-size: 16px;
}

.hero-title {
    text-align: center;
    background-color: rgb(231, 198, 139);
    border: 5px solid black ;
    padding: 10px;
}

.page-content {
    padding: 10px;
}

.recipes-div {
    text-align: center;
    border: 2px dashed black;
    width: 80%;
    margin: 0 auto;
}

.recipes-div h2 {
    margin: 15px auto 0px;
}

.recipe-list {
    list-style: none;
    padding: 12px;
    margin: 0 auto;
}

.recipe-list li {
    display: inline-block;
    margin: 10px;
}

.recipe-list li button {
    padding: 10px;
    font-weight: 600;
}


/* Recipe pages */
.back-link {
    display: block;
    color: rgb(83, 71, 49);
    font-size: 18px;
    text-decoration: none;
    margin: 20px auto;
}

.back-link:hover {
    text-decoration: underline;
}

.page-content h2 {
    margin: 10px;
}
.recipe-image {
    display: block;
    width: 400px;
    height: auto;
    margin: 20px 10px 30px;
}

.recipe-description {
    margin: 10px 10px 40px;
}

.recipe-components div {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
} 

.recipe-components * li {
    margin: 10px auto;
}